@font-face {
  font-family: Lato;
  src: url('./Lato.ttf');
}

.hidden {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: rgb(101, 160, 101);
}

h1 {
  text-align: center;
  color: white;
}

#box {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #eee;
  border-radius: 15px;
  overflow: hidden;
}

header, footer {
  background: #d4d4d4;
  text-align: center;
  padding: 10px;
  font-size: 1.4em;
}

section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  padding: 15px;
  cursor: pointer;
  transition: .1s;
  border-radius: 30px;
  border: 1px dashed #a7a7a7;
}

li:hover {
  background: #dbdbdb;
  transform: scale(1.05);
}

li:active {
  transform: scale(0.95);
}

section > p {
  text-align: justify;
  text-justify: inter-word;
}

#initButton {
  padding: 30px 60px;
  font-size: 2em;
  border-radius: 30px;
  border: none;
  background: #ec3c51;
  color: white;
  box-shadow: 0 20px 0 #c94151;
  cursor: pointer;
  font-weight: bold;
  transition: .1s;
}

#initButton:hover {
  background: #df4f60;
}

#initButton:active {
  box-shadow: 0 10px 0 #c94151;
  translate: 0 10px;
}

#results {
  background: #eee;
  width: 500px;
  border-radius: 15px;
}