* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: rgb(101, 160, 101);
}

h1 {
  text-align: center;
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #eee;
  border-radius: 15px;
  overflow: hidden;
}

header, footer {
  background: #d4d4d4;
  text-align: center;
  padding: 10px;
  font-size: 1.4em;
}

section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  padding: 15px;
  cursor: pointer;
  transition: .3s;
  border-radius: 30px;
}

li:hover {
  background: #dbdbdb;
  transform: scale(1.05);
}

section > p {
  text-align: justify;
  text-justify: inter-word;
}